<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="CommandPrefix" value="!" />
    <add key="MessagesAllowed" value="750" />
    <add key="StreamerChannel" value="nombre del canal"/>
    <add key="WebSocketIP" value="ws://127.0.0.1"/>
    <add key="WebSocketPort" value="00000"/>
    <add key="Production" value="false"/>
  </appSettings>
</configuration>